.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}


.section {
    width: 100%;
    position: relative;
}


.sec1 {
    background: url(../assets/images/power_mantra/bg-img/sec1.jpg) no-repeat scroll left top transparent;

}

.sec2 {
    background: url(../assets/images/power_mantra/bg-img/sec-2.png) repeat scroll center top transparent;

}

.sec3 {
    background: url(../assets/images/power_mantra/bg-img/sec-3.jpg) repeat scroll center top transparent;

}

.sec4 {
    background: url(../assets/images/power_mantra/bg-img/sec4.jpg) repeat scroll center top transparent;

}

.sec5 {
    background: url(../assets/images/power_mantra/bg-img/sec-5.png) no-repeat scroll center top transparent;

}



.sec1-top-bg-img1 {
    background: url(../assets/images/common/top-cont-bg-img2.png) left top no-repeat rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 19px;
    line-height: 21px;
}

.form-container {
    /* background-color: #196780; */
    padding: 15px;
    color: #3d3d3d;
    margin: 30px 0px;
    border-radius: 6px;
    font-weight: 600;
}


.about-product {
    text-transform: uppercase;
    color: green;
    margin: 15px 0px;
    font-size: 14px;
    border-left: solid 1px #a29797;
    padding: 10px;
}

.about-product span {
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 600;
    display: block;
}

.recommended-container {
    padding-left: 200px;
}

.sec1-title {
    text-transform: uppercase;
    font-size: 2rem;
    color: #054405;
    margin: 0px;
    line-height: 2rem;
    margin-top: 15px;

}

.display-block {
    display: block;
}

.sec2-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #000;
    margin: 0px;
    line-height: 3rem;
    margin-top: 15px;

}

.sec-img-container {
    border: solid 2px #90979d;
    border-radius: 6px;
    min-height: 490px;
    box-shadow: 3px 3px 2px 2px #b8d3ca, -3px -3px 2px 2px #b8d3ca, 3px -3px 2px 2px #b8d3ca, -3px 3px 2px 2px #b8d3ca;
    margin: 15px 0px;
}

.sec-img-container-text {
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    color: #4f4848;
    line-height: 24px;

}

.sec-img-container-text span {
    display: block;
    font-size: 1.3em;
    color: #000;
    margin-bottom: 8px;

}

.sec3-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #000;
    margin: 0px;
    line-height: 3rem;
    font-weight: 500;
    margin-top: 15px;


}

.clinically-aprove-tag {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.sec4-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #000;
    margin: 0px;
    line-height: 3rem;
    font-weight: 500;
    margin-top: 2rem
}

.sec-comment-container {
    border: solid 2px #878787;
    padding: 15px 0px;
    border-radius: 6px;
    margin: 20px 0px;
    box-shadow: 3px 3px 4px 2px #878787;
}

.sec-comment {
    font-size: 1.3em;
    font-style: italic;
    font-weight: 600;
    font-family: serif, sans-serif;
    color: #3d3d3d;
    text-align: justify
}

.sec-comment span {
    font-size: 1.4em;
    color: green;
    display: block;

}

.sec-comment::first-letter {
    text-transform: uppercase;
}


.color-dark-green {
    color: #037503;
}

.color-green {
    color: green;
}

.color-red {
    color: #f1592a;
}

.color-navy-blue {
    color: #039bcb;
}

.color-yello {
    color: #d8cc2e;
}


.recommended {
    padding: 24px 18px;
    width: 75%;
}

.sec1-list {
    list-style: none;
    padding: 0px;
}

ul.sec1-list li {
    background: url('../assets/images/hair_mantra/icon/right.jpg') left top no-repeat rgba(0, 0, 0, 0);
    color: #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin: 5px 0;
    padding: 10px 0px 10px 40px;
    text-transform: uppercase;
}

ul.sec1-list li span {
    color: #f1592a;
}

.sec1-product-image-container {
    padding-top: 5rem;
    position: relative;
}

.sec2-description-1 {
    font-size: 20px;
    line-height: 1.5rem;
    margin: 15px 0px;
    color: #067b06;
    font-weight: 500;
    text-align: justify;
}

.sec2-description-2 {
    font-size: 19px;
    line-height: 1.5rem;
    padding: 25px 0px;
    color: #0f0f0f;
    font-weight: 500;
    text-align: justify;
}


.sec3-description {
    color: #000;
    font-size: 17px;
    line-height: 1.5rem;
    padding: 20px 0px;
    font-weight: 500;
    text-align: justify;
}

.sec4-description {
    border: solid 2px #e3e3e3;
    border-radius: 6px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: justify;
}

.sec4-description li {
    line-height: 24px;
    margin: 10px 0px;
}

.btn-order {

    border-radius: 6px;
    width: 100%;
    color: #fff;
    font-size: 20px;


    background-color: #ffc107;
    border-color: #ffc107;
}

.invalid-feedback {
    color: #ef7d87
}


.tag-container {
    position: absolute;
    top: 0;
    right: 0;
}

.tag {
    width: 155px;
    height: 160px;
}

.selection-container {
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border: solid 3px #fff;
    border-radius: 6px;
    margin-bottom: 15px;
    background: #0f3f4e;
}

.cursor-pointer {
    cursor: pointer;
}


.width-25px {
    width: 25px;
}


/* for xl screen */
@media screen and (min-width: 1200px) {}

/* for Large screen*/
@media screen and (max-width: 1200px) {
    .recommended-container {
        padding-left: 56px;
    }

    .recommended {
        width: 85%;
    }

    .sec1-title {
        font-size: 1.6rem;
        line-height: 1.6rem;

    }

    .sec2-title,
    .sec3-title,
    .sec4-title {
        font-size: 2rem;
        line-height: 2rem;

    }

    ul.sec3-list li {
        width: 100%;
    }


}

/* for medium screen*/

@media screen and (max-width: 991px) {
    .recommended-container {
        padding-left: 0px;
    }

    .recommended {
        width: 60%;
    }


    .sec2-title,
    .sec3-title,
    .sec4-title {
        font-size: 2rem;
        line-height: 2rem;

    }

    .sec3-list {
        padding: 0px;
    }

    .sec-comment {
        font-size: .9em;
    }
}

/* for small screen*/
@media screen and (max-width: 767px) {
    .recommended-container {
        padding-left: 0px;
    }

    .recommended {
        width: 80%;
    }


    .sec2-title,
    .sec3-title,
    .sec4-title {
        font-size: 2rem;
        line-height: 2rem;

    }

    .sec1 {
        background: none
    }

    .flex-sm {
        display: flex;
    }

    .flex-sm div {
        margin-left: 15px;
    }

    .hide-sm {
        display: none;
    }
}

/* Extra small screen*/
@media screen and (max-width: 575px) {

    .sec1 {
        background: none
    }

    .recommended-container {
        padding-left: 0px;
    }

    .sec1-title {
        font-size: 1rem;
        line-height: 1rem;
    }

    .sec2-title,
    .sec3-title,
    .sec4-title {
        font-size: 2rem;
        line-height: 2rem;

    }

    .recommended {
        padding: 15px;
        background: #039bcb;
        margin-top: 15px;
        width: 100%
    }

    ul.sec3-list li {
        width: 90%;
    }



    .sec4-list,
    .sec3-list {
        padding: 0px;
    }

    ul.sec4-list li {
        padding: 0px;
    }

    ul.sec4-list li:nth-child(1),
    ul.sec4-list li:nth-child(2),
    ul.sec4-list li:nth-child(3),
    ul.sec4-list li:nth-child(4) {
        background: none;
    }

    .form-check {
        margin: 5px 0px;
    }
}